<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/servizi']" class="nav-link">Servizi</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/squadre']" class="nav-link">Squadre</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/eventi']" class="nav-link">Eventi</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contatti']" class="nav-link">Contatti</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Galleria
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/galleria/foto']" class="dropdown-item">Foto</a></li>
            <li><a [routerLink]="['/galleria/video']" class="dropdown-item">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
