<header class="site-navbar navbar navbar-expand-lg navbar-light bg-light js-sticky-header site-navbar-target">
  <div class="container">
    <a class="navbar-brand text-black a-brand" href="index.html">
      <span class="text-primary">Brand</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a [routerLink]="['/home']" class="nav-link">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/servizi']" class="nav-link">Servizi</a></li>
        <li class="nav-item"><a [routerLink]="['/squadre']" class="nav-link">Squadre</a></li>
        <li class="nav-item"><a [routerLink]="['/eventi']" class="nav-link">Eventi</a></li>
        <li class="nav-item"><a [routerLink]="['/contatti']" class="nav-link">Contatti</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="galleriaDropdown" role="button" data-bs-toggle="dropdown">
            Galleria
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/galleria/foto']">Foto</a></li>
            <li><a class="dropdown-item" [routerLink]="['/galleria/video']">Video</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
