<div class="container my-4">
  <h1 class="mb-4">Galleria Foto</h1>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let album of albums">
      <div class="card h-100">
        <img [src]="album.coverImage" class="card-img-top" alt="{{ album.title }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">{{ album.description }}</p>
          <a [routerLink]="['/galleria/foto', album.id]" class="btn btn-primary mt-auto">
            Visualizza Album
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
